# Core AI & Orchestration
langchain==1.0.2
langchain-community==0.4
langchain-core==1.0.4
langchain-groq==1.0.0
langgraph==1.0.1
langgraph-checkpoint==2.1.2

# Vector Store & Embeddings
chromadb==1.1.1
langchain-chroma==1.0.0
sentence-transformers==5.1.1
langchain-huggingface==1.0.1

# Backend API
fastapi==0.119.0
uvicorn==0.37.0
python-dotenv==1.1.1
python-multipart==0.0.20

# Database (PostgreSQL)
psycopg2-binary==2.9.11
SQLAlchemy==2.0.44
langgraph-checkpoint-postgres==3.0.0

# Web Scraping & Search
beautifulsoup4==4.14.2
requests==2.32.5
langchain-tavily==0.2.13

# Document Processing (PDFs & Resumes)
pypdf==6.2.0
pdfplumber==0.11.7
python-docx==1.2.0

# NLP Utilities
spacy==3.8.7
tiktoken==0.12.0
# Installs the model directly from the release URL
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85